* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'get_schwiftyregular';
  src: url('../Fonts/get_schwifty-webfont.woff2') format('woff2'),
  url('../Fonts/get_schwifty-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  height: 100vh;
  margin: 0;
  font-family: 'get_schwiftyregular';
  text-align: center;
}
h1{
  font-size: 100px;
  color: lightskyblue;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: 3px 3px 3px rgb(99, 194, 21);
  margin: auto;
}

.capital{
  font-size:200px;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  text-shadow: 5px 5px 5px rgb(99, 194, 21);
}

.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  width: 550px;
  font-size: 25px;
}

#start{
  height: 100px;
  width: 100px;
  font-family: 'get_schwiftyregular';
  border-radius: 50%;
  background-image: url('https://cdna.artstation.com/p/assets/images/images/031/538/850/original/petro-kosariekov-portal-gun-rick-and-morty2-2.gif?1603902186');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.grid-wrapper{
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items:initial;
  border-radius: 50%;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 600px;
  box-shadow: 0 0 50px 0 rgba(231, 46, 46, 0.577);
  background-image: url('../Images/PACMAN\ 2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  
}
.grid div{
  width: 7.69%;
  height: 7.69%;
  border: 1px solid rgba(0,0,0,0.2);

}
.horizontal-border{
  background-image: url('../Images/border1.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(80, 76, 76); 
}

.vertical-border{
  background-image: url('../Images/border2.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(80, 76, 76); 
}
.seed{
  background-image: url('https://static.wikia.nocookie.net/rickandmorty/images/e/e8/Speed_Mega_Seed.png/revision/latest?cb=20160909154201');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 1%;
  width: 1%;
}

.sauce{
  background-image: url('https://img1.picmix.com/output/stamp/normal/5/6/7/8/1898765_af7fc.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 1%;
  width: 1%;
}

.pickle{
  background-image: url('https://www.vhv.rs/dpng/d/135-1355056_pickle-rick-png-pickle-rick-transparent-background-png.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


.red {
  background-image: url('https://i.pinimg.com/originals/a4/d1/eb/a4d1eb6a03bd13a1bd0a2339ff6f92fe.gif');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.blue{
  background-image: url('https://i.pinimg.com/originals/a4/d1/eb/a4d1eb6a03bd13a1bd0a2339ff6f92fe.gif');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.yellow{
  background-image: url('https://i.pinimg.com/originals/a4/d1/eb/a4d1eb6a03bd13a1bd0a2339ff6f92fe.gif');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

