* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'get_schwiftyregular';
  src: url('../Fonts/get_schwifty-webfont.woff2') format('woff2'),
  url('../Fonts/get_schwifty-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  height: 100vh;
  margin: 0;
  font-family: 'get_schwiftyregular';
  text-align: center;
  background-image: url('https://media1.giphy.com/media/BHNfhgU63qrks/giphy.gif?cid=ecf05e471sy0uxr17qr0pop27c84mpvr0wfitjzqv2h9q9ok&rid=giphy.gif&ct=g');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
h1{
  font-size: 100px;
  color: lightskyblue;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  margin: auto;
  animation: glow 1s ease-in-out infinite alternate;
}

.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  width: 550px;
  font-size: 25px;
}

#start{
  height: 100px;
  width: 100px;
  font-family: 'get_schwiftyregular';
  border-radius: 50%;
  background-image: url('https://cdna.artstation.com/p/assets/images/images/031/538/850/original/petro-kosariekov-portal-gun-rick-and-morty2-2.gif?1603902186');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  color: white;
  font-size: 20px;
}

.grid-wrapper{
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  border-radius: 50%;
}

#begin{
  font-size: 20px;
  animation: blinker 1s linear infinite;
  margin-top: 0;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 600px;
  box-shadow: 0 0 50px 0 rgba(201, 14, 79, 0.577);
  background-image: url('../Images/PACMAN\ 2.jpg'); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  
}
.grid div{
  width: 7.69%;
  height: 7.69%;
  /* border: 1px solid rgba(0,0,0,0.2); */

}
#music{
  background-color: tomato;
  border-radius: 20%;
  cursor: pointer;
}
#musicOn{
  background-color: tomato;
  border-radius: 20%;
  cursor: pointer;
}

.start-game{
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width:100%;
  cursor: not-allowed;
  opacity: 1;
  background:white url('../Images/Intro.gif') center no-repeat;
  background-size: 950px;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  
}
.start-game p{
  width: 50%;
  font-size: 40px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.start-game button{
  color: white;
  width: 100px;
  height: 100px;
  background-image: url('https://i.ytimg.com/vi/ITkcUGKc9tw/maxresdefault.jpg');
  border-radius: 50%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'get_schwiftyregular';
  background-size: 175px;
  cursor: pointer;
  font-size: 20px;
}
.win-game{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: not-allowed;
  opacity: 1;
  background: white url('../Images/Outro.gif') center no-repeat;
  background-size: 950px;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column; 
}
.win-game p{
  width: 50%;
  font-size: 40px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.lose-game{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: not-allowed;
  opacity: 1;
  background: white url('https://media4.giphy.com/media/26gZ1Ye2gkRUxtj9u/giphy.gif?cid=790b76119615ceda27dede778998658ce26d07032d262aa6&rid=giphy.gif&ct=g') center no-repeat;
  background-size: 950px;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column; 
}
.horizontal-border{
  background-image: url('../Images/border1.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(80, 76, 76); 
}

.vertical-border{
  background-image: url('../Images/border2.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(80, 76, 76); 
}
.seed{
  background-image: url('https://static.wikia.nocookie.net/rickandmorty/images/e/e8/Speed_Mega_Seed.png/revision/latest?cb=20160909154201');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
}

.sauce{
  background-image: url('https://img1.picmix.com/output/stamp/normal/5/6/7/8/1898765_af7fc.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
}

.pickle{
  background-image: url('https://media3.giphy.com/media/KAj8t87TYw5i26FQVw/giphy.gif?cid=6c09b952qvanr7fpqc3puonakrxclvkonlssu31mo2dureob&rid=giphy.gif&ct=s');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


.red {
  background-image: url('../Images/ezgif.com-gif-maker.gif');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70px;
}

.blue {
  background-image: url('../Images/blue.gif');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70px;
}

.yellow {
  background-image: url('../Images/yellow.gif');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70px;
}

.red-prey {
  background-image: url('../Images/redprey.gif');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70px;
}

.blue-prey {
  background-image: url('../Images/blueprey.gif');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70px;
}

.yellow-prey {
  background-image: url('../Images/yellowprey.gif');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70px;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(99, 194, 21), 0 0 40px rgb(99, 194, 21), 0 0 50px rgb(99, 194, 21), 0 0 60px rgb(99, 194, 21), 0 0 70px rgb(99, 194, 21);
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #3dac1e, 0 0 40px #3dac1e, 0 0 50px #3dac1e, 0 0 60px #3dac1e, 0 0 70px #3dac1e, 0 0 80px #3dac1e;
  }
}